Repository DataDog/datadog-cluster-monitoring-pivotal-tile, pull requests merged in 2021-04, with the labels that each got.

#44 Release 4.5.0
  CHANGELOG.md
  tile/tile-history.yml
  tile/tile.yml
Labels: changelog/no-changelog, documentation

#41 Add option to collect containers only with the Process Agent
  tile/tile.yml
Labels: changelog/Added

#42 Add option to poll Cloud Foundry API for more advanced container tagging
  tile/tile.yml
Labels: changelog/Added

#45 Revert "Revert "Add option to send application environment variables as custom container tags""
  tile/tile.yml
Labels: changelog/no-changelog

#46 Add inputs to configure custom URLs for process, APM and logs
  tile/tile.yml
Labels: changelog/Added

#47 Add `no_proxy_nonexact_match` configuration option
  tile/tile.yml
Labels: changelog/Added

#48 Release 4.6.0
  CHANGELOG.md
  tile/tile-history.yml
  tile/tile.yml
Labels: changelog/no-changelog, documentation
